# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# --------------------
# Selenium / Chrome
# --------------------
chrome_profile/

# --------------------
# PyCharm
# --------------------
.idea/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
